.mobile-controls{
  position:fixed;
  bottom:20px;
  width:100%;
  text-align:center;
}

.mobile-controls button{
  font-size:28px;
  padding:12px 18px;
  margin:6px;
  border-radius:10px;
  border:none;
  background:#222;
  color:white;
}

@media (min-width:768px){
  .mobile-controls{
    display:none;
  }
}

#root{
  padding-bottom:150px;
}

canvas{
  max-height: calc(100vh - 160px);
}
